<div class="container-fluid p-5">
    <div class="row">
        <div class="col-2">
            <div class="card menu-item-card" (click)="onMenuItemClick($event)">
                Breakfast
            </div>
        </div>
        <div class="col-2">
            <div class="card menu-item-card" (click)="onMenuItemClick($event)">
                Lunch
            </div>
        </div>
        <div class="col-2">
            <div class="card menu-item-card" (click)="onMenuItemClick($event)">
                Snacks
            </div>
        </div>
        <div class="col-2">
            <div class="card menu-item-card" (click)="onMenuItemClick($event)">
                Dinner
            </div>
        </div>
        <div class="col-2">
            <div class="card menu-item-card" (click)="onMenuItemClick($event)">
                Desserts
            </div>
        </div>
    </div>
</div>