.header {
    height: 80px;
    width: 100%;
    background-color: blue;
    vertical-align: middle;
}

.header-logo {
    width: 50px;
    height: 40px;
    margin: 20px 10px 0px 10px;
}

.header-name{
    margin: 14px 0px 0px 8px;
    color: white;
}